* {
  color: rgba(255, 255, 255, 1);
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.coloredIcon {
  color: #359DDB
}

.company-logo {
  margin-bottom: .5em;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}

.drop-downs {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
  margin-top: 0;
}

.left-dropdown {
  margin-right: 1em;
}

.nav-icons,
.left-nav,
.username {
  display: flex;
}

.left-nav {
  margin-top: 6em;
  margin-left: 1em;
}

.username {
  margin-top: 1em;
}

body {
  background-color: #EFEFEF;
}

.right-logo {
  padding-bottom: 0;
}

.flower {
  margin-top: 1em;
  font-size: 2em;
}
